{
  "jsc": {
    "target": "es2021",
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "dynamicImport": true
    },
    "transform": {
      "react": {
        "runtime": "automatic",
        "development": true,
        "refresh": false
      }
    }
  },
  "module": {
    "type": "commonjs"
  },
  "sourceMaps": true
}
